body {
  /* changing scrollbar color and properties */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  padding: 3% 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://i.etsystatic.com/7205570/r/il/d2d75a/502555328/il_570xN.502555328_9tbg.jpg"),
    rgba(0, 0, 0, 0.5);
  /* ,url("https://picsum.photos/800/600?random=2"); */
  background-size: cover;
  background-blend-mode: multiply;
  box-sizing: border-box;
  #container {
    width: 1000px;
    height: 150vh;
    border: 5px solid red;
    display: grid;
    gap: 1.5%;
    grid-template-columns: 1fr 1fr 1fr 20%;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas:
      "head head head head"
      "small_box_1 small_box_2 small_box_3 aside"
      "main main main aside"
      "footer footer footer footer";

    .box {
      height: 100%;
      border: 2px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primaryTextcolor;
    }
    #head {
      grid-area: head;

      p {
        font-size: 1.3rem;
        margin: 2%;
        color: $primaryTextcolor;
        text-align: justify;
        overflow-x: hidden;
        overflow-y: auto;
        height: 375px;
        img {
          position: relative;
          top: 1%;
          margin: 1.5%;
          float: left;
          opacity: 0.7;
        }
        span {
          display: block;
          font-size: 1.6rem;
          color: $secondaryTextcolor;
          margin: 1.5%;
          text-indent: 5%;
          a {
            display: inline;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
            color: $primaryTextcolor;
          }
        }
        a {
          display: block;
          text-indent: 0;
          color: $secondaryTextcolor;
        }
      }
    }
    #small-box1 {
      grid-area: small_box_1;
    }
    #small-box2 {
      grid-area: small_box_2;
    }
    #small-box3 {
      grid-area: small_box_3;
    }
    .small {
      position: relative;
      width: 100%;

      p {
        font-size: 1rem;
        margin: 3%;
        color: $primaryTextcolor;
        text-align: justify;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        padding-right: 5%;
        scrollbar-color: auto;
        scrollbar-color: dark;
        scrollbar-color: light;

        img {
          //position: absolute;

          
          display: block;

          opacity: 0.7;
          width: 50%;
        }
        span {
          display: block;
          font-size: 1.3rem;
          color: $secondaryTextcolor;
          margin: 2%;
          text-align: center;

          a {
            display: inline;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
            color: $primaryTextcolor;
          }
        }
        a {
          display: block;
          text-indent: 0;
          color: $secondaryTextcolor;
        }
      }
    }
    #main {
      grid-area: main;
      width: 100%;
    }
    #aside {
      grid-area: aside;
      width: 100%;
      
      display: flex;
      flex-direction: column;
      .fav_name {
        width: 100%;
        margin-top: -25%;
        margin-bottom: 10%;
        // border: 5px solid orangered;

        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: $secondaryTextcolor;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
          color: $primaryTextcolor;
        }
      }

      .aside_container {
        // border: 5px solid yellow;
        display: grid;
        gap: 3%;

        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          "A"
          "B"
          "C"
          "D";

        #fav_movie1 {
          grid-area: A;
        }
        #fav_movie2 {
          grid-area: B;
        }
        #fav_movie3 {
          grid-area: C;
        }
        #fav_movie4 {
          grid-area: D;
        }
        .box_fav_movie {
          outline:1px dotted red;
          img {
            display: block;
            margin: auto;
            width: 65%;
            opacity: 0.8;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            
          }
          img:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
        }
      }
    }
    #footer {
      grid-area: footer;

      .footer_container {
        width: 100%;
        height: 100%;
        display: flex;

        // border: 5px solid yellow;
        .referance {
          width: 100%;

          border: 5px solid green;
          display: flex;
          align-items: center;
          justify-content: space-around;
          a img {
            display: block;
            width: 40%;
            opacity: 0.7;
            margin: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  body {
    /* changing scrollbar color and properties */
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    widows: 100px;
    padding: 3% 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: url("https://i.etsystatic.com/7205570/r/il/d2d75a/502555328/il_570xN.502555328_9tbg.jpg"),
    //   rgba(0, 0, 0, 0.5);
    // /* ,url("https://picsum.photos/800/600?random=2"); */
    // background-size: cover;
    // background-blend-mode: multiply;
    box-sizing: border-box;
    #container {
      width: 100%;
      height: 150vh;
      border: 5px solid red;
      display: grid;
      gap: 1.5%;
      grid-template-columns: 31% 31% 31%;
      grid-template-rows: 20% 25% 18% 10% 10%;
      grid-template-areas:
        "head head head "
        "small_box_1 small_box_2 small_box_3 "
        "main main main "
        "aside aside aside"
        "footer footer footer ";
  
      .box {
        height: 100%;
        border: 2px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryTextcolor;
      }
      #head {
        grid-area: head;
  
        p {
          font-size: 0.8rem;
          margin: 2%;
          color: $primaryTextcolor;
          text-align: justify;
          overflow-x: hidden;
          overflow-y: auto;
          height: 200px;
          img {
            position: relative;
            top: 1%;
            margin: 1.5%;
            float: left;
            opacity: 0.7;
          }
          span {
            display: block;
            font-size: 1.2rem;
            color: $secondaryTextcolor;
            margin: 1.5%;
            text-indent: 5%;
            a {
              display: inline;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
              color: $primaryTextcolor;
            }
          }
          a {
            display: block;
            text-indent: 0;
            color: $secondaryTextcolor;
          }
        }
      }
      #small-box1 {
        grid-area: small_box_1;
      }
      #small-box2 {
        grid-area: small_box_2;
      }
      #small-box3 {
        grid-area: small_box_3;
      }
      .small {
        position: relative;
        width: 100%;
  
        p {
          font-size: 0.7rem;
          margin: 3%;
          color: $primaryTextcolor;
          text-align: justify;
          overflow-x: hidden;
          overflow-y: auto;
          height: 300px;
          padding-right: 5%;
          scrollbar-color: auto;
          scrollbar-color: dark;
          scrollbar-color: light;
  
          img {
            //position: absolute;
  
            
            display: block;
  
            opacity: 0.7;
            width: 50%;
          }
          span {
            display: block;
            font-size: 1rem;
            color: $secondaryTextcolor;
            margin: 2%;
            text-align: center;
  
            a {
              display: inline;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
              color: $primaryTextcolor;
            }
          }
          a {
            display: block;
            text-indent: 0;
            color: $secondaryTextcolor;
          }
        }
      }
      #main {
        grid-area: main;
        width: 100%;
        
      }
      #aside {
        grid-area: aside;
        
        
        
        .fav_name {
          
          text-align: justify;
          margin-top: 50px ;
          // border: 5px solid orangered;
  
          font-size: 1.2rem;
          
          a {
            color: $secondaryTextcolor;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
            color: $primaryTextcolor;
          }
        }
  
        .aside_container {
          // border: 5px solid yellow;
          display: grid;
          grid-template-columns: 10% 20% 20% 20% 20%;
          gap: 2%;
  
          grid-template-rows: repeat(4, 30%);
          grid-template-areas:
            "E A B C D";
          
          .fav_name {
            grid-area: E;
          }

          #fav_movie1 {
            grid-area: A;
          }
          #fav_movie2 {
            grid-area: B;
          }
          #fav_movie3 {
            grid-area: C;
          }
          #fav_movie4 {
            grid-area: D;
          }
          .box_fav_movie {
            outline:1px dotted red;
            img {
              display: block;
              margin: auto;
              width: 90%;
              opacity: 0.8;
              -webkit-transform: scale(1);
              transform: scale(1);
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;
              
            }
            img:hover {
              -webkit-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
        }
      }
      #footer {
        grid-area: footer;
  
        .footer_container {
          width: 100%;
          height: 100%;
          display: flex;
  
          // border: 5px solid yellow;
          .referance {
            width: 100%;
  
            border: 5px solid green;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a img {
              display: block;
              width: 40%;
              opacity: 0.7;
              margin: auto;
            }
          }
        }
      }
    }
  }
}
