body {
  /* changing scrollbar color and properties */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  padding: 3% 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://i.etsystatic.com/7205570/r/il/d2d75a/502555328/il_570xN.502555328_9tbg.jpg"), rgba(0, 0, 0, 0.5);
  /* ,url("https://picsum.photos/800/600?random=2"); */
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body ::-webkit-scrollbar-thumb {
  background: #888;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body #container {
  width: 1000px;
  height: 150vh;
  display: -ms-grid;
  display: grid;
  gap: 1.5%;
  -ms-grid-columns: 1fr 1fr 1fr 20%;
      grid-template-columns: 1fr 1fr 1fr 20%;
  -ms-grid-rows: 1fr 2fr 4fr 1fr;
      grid-template-rows: 1fr 2fr 4fr 1fr;
      grid-template-areas: "head head head head" "floata floata floata aside" "main main main aside" "footer footer footer footer";
}

body #container .box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f2f2f2;
}

body #container #head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
}

body #container #head p {
  font-size: 1.3rem;
  margin: 2%;
  color: #f2f2f2;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: auto;
  height: 380px;
}

body #container #head p img {
  position: relative;
  top: 10px;
  margin: 15px;
  float: left;
  opacity: 0.7;
}

body #container #head p span {
  display: block;
  font-size: 1.6rem;
  color: #ec3e3e;
  margin: 1.5%;
  text-indent: 5%;
}

body #container #head p span a {
  display: inline;
  text-decoration: none;
}

body #container #head p span a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

body #container #head p a {
  display: block;
  text-indent: 0;
  color: #ec3e3e;
}

body #container #floata {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: floata;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  gap: 2%;
      grid-template-areas: "A B C D";
}

body #container #floata #small-box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

body #container #floata #small-box2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: B;
}

body #container #floata #small-box3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: C;
}

body #container .small {
  position: relative;
  width: 100%;
}

body #container .small p {
  font-size: 1rem;
  margin: 3%;
  color: #f2f2f2;
  text-align: justify;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  padding-right: 5%;
  scrollbar-color: auto;
  scrollbar-color: dark;
  scrollbar-color: light;
}

body #container .small p img {
  display: block;
  opacity: 0.7;
  width: 50%;
}

body #container .small p span {
  display: block;
  font-size: 1.3rem;
  color: #ec3e3e;
  margin: 2%;
  text-align: center;
}

body #container .small p span a {
  display: inline;
  text-decoration: none;
}

body #container .small p span a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

body #container .small p a {
  display: block;
  text-indent: 0;
  color: #ec3e3e;
}

body #container #main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  width: 100%;
}

body #container #aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: aside;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #container #aside .fav_name {
  width: 100%;
  margin-top: -20%;
  margin-bottom: 20%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container #aside .fav_name a {
  color: #ec3e3e;
  text-decoration: none;
}

body #container #aside .fav_name a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

body #container #aside .aside_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (24%)[4];
      grid-template-rows: repeat(4, 24%);
  gap: 4%;
      grid-template-areas: "A" "B" "C" "D";
}

body #container #aside .aside_container #fav_movie1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

body #container #aside .aside_container #fav_movie2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: B;
}

body #container #aside .aside_container #fav_movie3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: C;
}

body #container #aside .aside_container #fav_movie4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: D;
}

body #container #aside .aside_container .box_fav_movie img {
  display: block;
  margin: auto;
  width: 75%;
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body #container #aside .aside_container .box_fav_movie img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

body #container #footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

body #container #footer .footer_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #container #footer .footer_container .referance {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #container #footer .footer_container .referance a img {
  display: block;
  width: 40%;
  opacity: 0.7;
  margin: auto;
}

@media screen and (max-width: 480px) {
  body {
    /* changing scrollbar color and properties */
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
    widows: 100px;
    padding: 3% 0;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("https://i.etsystatic.com/7205570/r/il/d2d75a/502555328/il_570xN.502555328_9tbg.jpg"), rgba(0, 0, 0, 0.5);
    /* ,url("https://picsum.photos/800/600?random=2"); */
    background-size: cover;
    background-blend-mode: multiply;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body ::-webkit-scrollbar {
    width: 5px;
  }
  body ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  body ::-webkit-scrollbar-thumb {
    background: #888;
  }
  body ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  body #container {
    width: 100%;
    height: 150vh;
    display: -ms-grid;
    display: grid;
    gap: 1.5%;
    -ms-grid-columns: 31% 31% 31%;
        grid-template-columns: 31% 31% 31%;
    -ms-grid-rows: 30% 18% 30% 10% 5%;
        grid-template-rows: 30% 18% 30% 10% 5%;
        grid-template-areas: "head head head " "main main main " "floata floata floata" "aside aside aside" "footer footer footer ";
  }
  body #container .box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #f2f2f2;
  }
  body #container #head {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: head;
  }
  body #container #head p {
    font-size: 1rem;
    margin: 2%;
    padding: 2%;
    color: #f2f2f2;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: auto;
    height: 350px;
  }
  body #container #head p img {
    position: relative;
    width: 45%;
    top: 1%;
    margin: 1.5%;
    float: left;
    opacity: 0.7;
  }
  body #container #head p span {
    display: block;
    font-size: 1.3rem;
    color: #ec3e3e;
    margin: 1.5%;
    text-indent: 5%;
  }
  body #container #head p span a {
    display: inline;
    text-decoration: none;
  }
  body #container #head p span a:hover {
    text-decoration: underline;
    color: #f2f2f2;
  }
  body #container #head p a {
    display: block;
    text-indent: 0;
    color: #ec3e3e;
  }
  body #container #floata {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: floata;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% 30% 30%;
        grid-template-rows: 30% 30% 30%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 2%;
        grid-template-areas: "A" "B" "C";
  }
  body #container #floata #small-box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
  body #container #floata #small-box2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  body #container #floata #small-box3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: C;
  }
  body #container #floata .small {
    width: 100%;
  }
  body #container #floata .small p {
    width: 100%;
    font-size: 0.9rem;
    margin: 3%;
    color: #f2f2f2;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: auto;
    height: 140px;
    padding-right: 5%;
    scrollbar-color: auto;
    scrollbar-color: dark;
    scrollbar-color: light;
  }
  body #container #floata .small p img {
    float: left;
    display: block;
    margin: 2%;
    margin-left: -2%;
    opacity: 0.7;
    width: 22%;
  }
  body #container #floata .small p span {
    display: block;
    font-size: 1.1rem;
    color: #ec3e3e;
    margin: 2%;
    text-align: center;
  }
  body #container #floata .small p span a {
    display: inline;
    text-decoration: none;
  }
  body #container #floata .small p span a:hover {
    text-decoration: underline;
    color: #f2f2f2;
  }
  body #container #floata .small p a {
    display: block;
    text-indent: 0;
    color: #ec3e3e;
  }
  body #container #main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
    width: 100%;
  }
  body #container #aside {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: aside;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #container #aside .fav_name {
    font-size: 1.2rem;
    width: 30%;
    height: 100%;
    margin: auto;
  }
  body #container #aside .fav_name a {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px;
    color: #ec3e3e;
    text-decoration: none;
  }
  body #container #aside .fav_name a:hover {
    text-decoration: underline;
    color: #f2f2f2;
  }
  body #container #aside .aside_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: (24%)[4];
        grid-template-columns: repeat(4, 24%);
    gap: 2%;
        grid-template-areas: "A B C D";
  }
  body #container #aside .aside_container #fav_movie1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
  body #container #aside .aside_container #fav_movie2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: B;
  }
  body #container #aside .aside_container #fav_movie3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: C;
  }
  body #container #aside .aside_container #fav_movie4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: D;
  }
  body #container #aside .aside_container .box_fav_movie img {
    display: block;
    margin: auto;
    width: 100%;
    margin-left: -15%;
    opacity: 0.8;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  body #container #aside .aside_container .box_fav_movie img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  body #container #footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  body #container #footer .footer_container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body #container #footer .footer_container .referance {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #container #footer .footer_container .referance a img {
    display: block;
    width: 40%;
    opacity: 0.7;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */